<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<security:http auto-config="true" entry-point-ref="attAuthenticationEntryPoint" access-decision-manager-ref="URLAccessDecisionManager">
		<security:intercept-url pattern="/*" access="ROLE_ROS" />
		<security:access-denied-handler ref="cookieAccessDeniedHandler"/>
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<!-- <security:user authorities="ROLE_USER" name="car" password="scarvarez" /> -->
				<!-- <security:user authorities="ROLE_ADMIN,ROLE_USER" name="mon" password="scarvarez" /> -->
				<security:user authorities="hello" name="car" password="scarvarez" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	<bean id="attAuthenticationEntryPoint" class="com.apress.pss.security.AttemptsAuthenticationEntryPoint"/>
	<bean id="cookieAccessDeniedHandler" class="com.apress.pss.security.CookieAccessDeniedHandler"/>
	<bean id="URLAccessDecisionManager" class="com.apress.pss.security.URLAccessDecisionManager"/>
</beans>