<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<security:http auto-config="true">
		<security:intercept-url pattern="/admin/*" access="ROLE_SCARVAREZ_MEMBER" />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user authorities="ROLE_SCARVAREZ_MEMBER" name="car" password="scarvarez" />
				<security:user authorities="ROLE_SCARVAREZ_MEMBER" name="mon" password="scarvarez" />
				<security:user authorities="ROLE_SCARVAREZ_MEMBER" name="bea" password="scarvarez" />
				<security:user authorities="ROLE_SCARVAREZ_MEMBER" name="andr" password="scarvarez" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
</beans>