<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd http://www.springframework.org/schema/jdbc  
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd">
	<security:http auto-config="true">		
		<security:intercept-url pattern="/*" access="ROLE_ADMINISTRATOR" />
		<security:openid-login>
		 <security:attribute-exchange>
                <security:openid-attribute name="email" type="http://schema.openid.net/contact/email" required="true"/>
           </security:attribute-exchange>
		</security:openid-login>
	</security:http>
	<security:user-service id="userService">
		<security:user name="http://carlo8172.myopenid.com/" authorities="ROLE_ADMINISTRATOR"/>
	</security:user-service>
	 <security:authentication-manager alias="authenticationManager"/>
</beans>