<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<security:http auto-config="true" access-decision-manager-ref="accessDecisionManager">
		<security:intercept-url pattern="/*" access="USERNAME_CAR" />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user authorities="NOT_USED" name="car" password="scarvarez" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<constructor-arg>
			<list>
			 <bean class="com.apress.pss.security.UsernameVoter"/>
			</list>
		</constructor-arg>
	</bean>
</beans>